.body {
  font: 20px Arial, sans-serif;
}


.navbar {
  background-color: #81F7D8;
}

.quemsomos {
  background-color:  #bb8fce ;
  color: white;
}

.margin {
  padding-bottom: 50px;
  padding-top: 10px;
}

.parceiros {
  background-color: cornflowerblue;
  color: white;
}

.bg-footer {
  background-color: black;
  color:white;
}